@import helper._
@import views.html.bootstrap3._

@import play.data.DynamicForm

@(dynamicForm : DynamicForm, travellerTypes : List[String], nationalities : List[String], genderMap: Map[String, Boolean], resultProfiles : List[User])


    @main("Search") {


        <nav class="navbar navbar-custom">

            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.HomeController.showhome()">Home</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Search</a></li>
                </ul>
            </div>
        </nav>

        <h1>Search</h1>

        @form(action = helper.CSRF(routes.TravelPartnerController.searchByAttribute)) {

            @checkboxes(
                dynamicForm("gender"),
                label = "Gender",
                checkboxMap = genderMap,
                help = "Select the genders you would like to include in your search results"
            )

            @helper.select(
                field = dynamicForm("travellertype"),
                options = travellerTypes.map(travellerType => travellerType -> travellerType),
                '_label -> "Select a traveller type to add:"
            )

            @helper.select(
                dynamicForm("nationality"),
                options = nationalities.map(nationality => nationality -> nationality),
                '_label -> "Select a nationality to add:"
            )

            @helper.inputDate(dynamicForm("agerange1"), '_label -> "Born after:")
            @helper.inputDate(dynamicForm("agerange2"), '_label -> "Born before:")

            <input type="submit" value="Search by filters">


            @if(resultProfiles.size > 0) {

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Nationalities</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Traveller types</th>
                        </tr>
                    </thead>
                    <tbody>
                    @if(resultProfiles.get(0) != null) {
                        @for(profile <- resultProfiles) {
                            <tr>
                                <th scope="row">@profile.getUsername()</th>
                                <td>@profile.getGender()</td>
                                <td>@for(nationality <- profile.getNationality()) {
                                    <p>@nationality.getNationalityName()</p>
                                }</td>
                                <td>@profile.getDateOfBirth()</td>
                                <td>@for(travellerType <- profile.getTravellerTypes()) {
                                    <p>@travellerType.getTravellerTypeName()</p>
                                }</td>
                            </tr>
                            }
                    </tbody>
                </table>
            } else {
                    </tbody>
                    </table>
                    <h2 align="center">No results found</h2>
                }

            }

        }
    }
