@(treasureHuntForm : Form[formdata.TreasureHuntFormData], user : User, destinations : Map[String, Boolean])

@import views.html.bootstrap3._


@main(user, "Treasure Hunt") {
    @helper.form(action = helper.CSRF(routes.TreasureHuntController.saveTreasureHunt())) {
        <fieldset>
                <!-- Header -->
            <legend>Create Treasure Hunt</legend>


            <!-- Name -->
            @text(treasureHuntForm("title"),
                label = "Title",
                placeholder = "",
                help = "Please enter the title for the Treasure Hunt.")

            @text(treasureHuntForm("riddle"),
                label = "Riddle",
                placeholder = "",
                help = "Please enter the riddle.")

            @select(treasureHuntForm("destination"),
                label = "Destination",
                optionMap = destinations,
                isMultiple = false,
                help = "Select the destination (answer) for the Treasure Hunt.")

            @datepicker(treasureHuntForm("startDate"),
                label = "Start Date",
                placeholder = "01/01/2000",
                help = "Please select the start date.")

            @datepicker(treasureHuntForm("endDate"),
                label = "End Date",
                placeholder = "01/01/2000",
                help = "Please select the end date.")

        </fieldset>

        <div class="form-group actions">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-sm-offset-2 col-sm-10">
                <input id="submit" type="submit" value="Create" class="btn btn-primary"/>
                <a href= "@routes.TreasureHuntController.indexTreasureHunt()" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
            </div>
        </div>
    }
}



