@(treasureHunts: List[TreasureHunt], openTreasureHunts: List[TreasureHunt], user: User)

@main(user,"Treasure hunt") {
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/indexTreasureHunt.css")">
    </head>
    <body>
        <h1>Open Treasure Hunts</h1>
        <input type="text" class="searchTreasureHunts" onkeyup="searchTreasureHunt()" placeholder="Search for Treasure hunts">
        <table class="table table-hover treasureHunts">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">End Date (NZST)</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Riddle</th>
                </tr>
            </thead>
            <tbody>
            @for(treasureHunt <- openTreasureHunts) {
                    <tr data-toggle="modal" data-id="@treasureHunt.getThuntid" data-target="#info" class="clickable">
                        <th scope ="row">@treasureHunt.getTitle</th>
                        <td>@treasureHunt.getEndDate</td>
                        @*<td><a class="btn btn-success" href="@routes.DestinationController.createDestination()" role="button">*@
            @*Take a guess</a></td>*@
                        @if(user.userIsAdmin || treasureHunt.getUser.getUserid.equals(user.getUserid)) {
                            <td>@treasureHunt.getDestination.getDestName</td>
                        } else {
                            <td>Hidden</td>
                        }
                        <td>@treasureHunt.getRiddle</td>
                    </tr>


                    <br>
            }
            </tbody>
        </table>

        <h1>My Treasure Hunts</h1>
        <a id="createTHuntButton" class="btn btn-primary " href="@routes.TreasureHuntController.createTreasureHunt()">
            Create Treasure Hunt</a>
        <input type="text" class="searchTreasureHunts" onkeyup="searchTreasureHunt()" placeholder="Search for Treasure hunts">
        <table class="table table-hover treasureHunts">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Start Date (NZST)</th>
                    <th scope="col">End Date (NZST)</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Riddle</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
            @for(treasureHunt <- treasureHunts) {
                <tr data-toggle="modal" data-id="@treasureHunt.getThuntid" data-target="#info" class="clickable">
                    <th scope ="row">@treasureHunt.getTitle</th>
                    @if(openTreasureHunts.contains(treasureHunt)){
                        <td>Open</td>
                    } else{
                        <td>Closed</td>
                    }
                    <td>@treasureHunt.getStartDate</td>
                    <td>@treasureHunt.getEndDate</td>
                    <td>@treasureHunt.getDestination.getDestName</td>
                    <td>@treasureHunt.getRiddle</td>
                    <td><a href="@routes.TreasureHuntController.editTreasureHunt(treasureHunt.getThuntid)" class="btn btn-primary">
                        Edit</a></td>
                    <td><a data-toggle="modal" data-target="#confirmTreasureHuntDeleteModal" class="btn btn-danger">
                        Delete</a></td>
                </tr>

                <br>
                }

            </tbody>
        </table>
        <!-- Modal -->
        <div id="confirmTreasureHuntDeleteModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Treasure Hunt</h4>
                    </div>
                    <div class="modal-body">
                        <p id="message">Are you sure you want to delete this Treasure Hunt?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="yesDelete" class="btn btn-danger">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>

            </div>
        </div>


        <script src="@routes.Assets.at("js/indexTreasureHunt.js")" type="text/javascript"></script>
    </body>
}