@@import formdata.DestinationFormData
@import views.html.bootstrap3._
@(destForm : Form[DestinationFormData], destId: Integer, countryMap: Map[String, Boolean], typeMap: Map[String, Boolean], user : User)

@main(user, "Destinations") {

    @if(destId == null) {
        <h1>Create Destination</h1>
        @helper.form(action = helper.CSRF(routes.DestinationController.saveDestinationFromRequest())) {
            @formBody()
        }
    } else {
        <h1>Edit Destination</h1>
        @helper.form(action = helper.CSRF(routes.DestinationController.updateDestination(destId))) {
            @formBody()
        }
    }
}

    @formBody()= {
        <fieldset>
                <!-- Name -->
            @text(destForm("destName"),
                label = "Destination Name",
                placeholder = "destination name",
                help = "Please enter the destination. (required)")

            @views.html.bootstrap3.select(destForm("country"),
                label = "Country",
                optionMap = countryMap,
                isMultiple = false,
                help= "Select a country",
            )

            @text(destForm("district"),
                label = "District",
                placeholder = "district",
            )

            @text(destForm("latitude"),
                label = "Latitude",
                placeholder = "latitude"
            )

            @text(destForm("longitude"),
                label = "Longitude",
                placeholder = "longitude"
            )

            @views.html.bootstrap3.select(destForm("destType"),
                label = "Type",
                optionMap = typeMap,
                isMultiple = false,
                help = "Select a type")
        </fieldset>

        <p>
            <div class="form-group actions">
                <div class="col-sm-offset-2 col-sm-10">
                    <input id="submit" type="submit" value="Submit" class="btn btn-primary"/>
                    @if(destId != null) {   @*Button implementation only works for editing an existing destination*@
                        <a class="btn btn-default" href="@routes.TravellerTypeController.updateDestinationTravellerType(destId)" role="button">
                            Update destination traveller type</a>
                    }
                    <a class="btn btn-danger" href="@routes.DestinationController.indexDestination()" role="button">Cancel</a>
                </div>
            </div>

            <div style="margin-top: 50px">
                @if(flash.containsKey("privateDestinationExists")) {
                    <div class="well">
                        <div id="error-message" class="text-danger">
                        @flash.get("privateDestinationExists")
                        </div>
                    </div>
                }

                @if(flash.containsKey("publicDestinationExists")) {
                    <div class="well">
                        <div id="error-message" class="text-danger">
                        @flash.get("publicDestinationExists")
                        </div>
                    </div>
                }

                @if(flash.containsKey("countryInvalid")) {
                    <div class="well">
                        <div id="error-message" class="text-danger">
                        @flash.get("countryInvalid")
                        </div>
                    </div>
                }
            </div>
        </p>
    }
