@import formdata.DestinationFormData
@import views.html.bootstrap3._

@(user : User, destination: Destination, editMode: Boolean,
        destForm: Form[DestinationFormData], countryMap: Map[String, Boolean], typeMap: Map[String, Boolean], travellerTypeMap : Map[String, Boolean])


<style>
    #map {
        height: 610px;
    }
    form {
        margin-bottom: 0;
    }

</style>

@main(user, "Destination") {

    <h2>Destination</h2>
    <div class="row">
        <div class="col-sm-5">
            <div id="map"></div>
        </div>
        <div class="col-sm-7">

        @if(editMode) {

            <h3 style="margin-top: 0;">Edit mode</h3>

            @if(destination.isUserOwner(user) || user.userIsAdmin()) {
                @helper.form(action = helper.CSRF(routes.DestinationController.updateDestination(destination.getDestId()))) {
                    @formBody()

                    @if(!destination.getIsPublic) {
                        <a class="btn" href="@routes.DestinationController.viewDestination(destination.getDestId())" role="button">
                            Make public
                        </a>
                        <br>
                    }

                    <input id="submit" type="submit" value="Submit" class="btn btn-primary"/>

                    <a class="btn btn-danger" href="@routes.DestinationController.viewDestination(destination.getDestId())" role="button">
                        Cancel
                    </a>
                }

            } else {
                @helper.form(action = helper.CSRF(routes.DestinationController.updatePublicDestination(destination.getDestId()))) {
                    @formBody()

                    <input id="submit" type="submit" value="Submit Modification Request" class="btn btn-primary"/>

                    <a class="btn btn-danger" href="@routes.DestinationController.viewDestination(destination.getDestId())" role="button">
                        Cancel
                    </a>
                }


            }

        } else {

            <h3 style="margin-top: 0;">@destination.getDestName()</h3>

            @if(destination.hasPrimaryPhoto()) {

            <div class="row">
                <img id=@{destination.getPrimaryPhoto.getUrl} height="250"
                src="@{routes.HomeController.index(destination.getPrimaryPhoto().getUrlWithPath())}" alt="Primary Image">
            </div>

            }

            <div class="row">
                <label class="col-sm-3 control-label">Type</label>
                <div class="col-sm-9">
                    <span>@destination.getDestType()</span>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">Traveller Types</label>
                <div class="col-sm-9">
                @for(travellerType <- destination.getTravellerTypes()) {
                    <span style="margin-right: 6px;">@travellerType</span>
                }
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">Country</label>
                <div class="col-sm-9">
                    <span>@destination.getCountry()</span>
                    @if(!destination.getIsCountryValid()) {
                        <span class="text-danger"> Invalid country</span>
                    }
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">District</label>
                <div class="col-sm-9">
                    <span>@destination.getDistrict()</span>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">Latitude</label>
                <div class="col-sm-9">
                    <span>@destination.getLatitude()</span>
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">Longitude</label>
                <div class="col-sm-9">
                    <span>@destination.getLongitude()</span>
                </div>
            </div>

            <br>

            <a class="btn btn-primary" href="@routes.DestinationController.editDestination(destination.getDestId())" role="button">
                Edit
            </a>

        }

        </div>
    </div>

    <hr>

    <h2>Destination Media</h2>
    <div class="row" style="margin-bottom: 50px;">

        @for(photo <- destination.getUserPhotos()) {



            <img id=@{photo.getUrl} height="150"
            src="@{routes.HomeController.index(photo.getUrlWithPath())}" alt="Primary Image">

        }

    </div>


    <script src="@routes.Assets.at("js/destination/viewDestination.js")"></script>
    <script>setLatLng(@destination.getLatitude(), @destination.getLongitude());</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCyC_ON0GgSmJIfPlL7oke5PZgbR8TLbg&libraries=drawing&callback=initMap"
    async defer></script>


}

@formBody()= {
    <fieldset>
            <!-- Name -->
        @text(destForm("destName"),
            label = "Name",
            placeholder = "destinationPage name",
            help = "Please enter the destinationPage. (required)")

        @views.html.bootstrap3.select(destForm("destType"),
        label = "Type",
        optionMap = typeMap,
        isMultiple = false,
        help = "Select a type")

        @views.html.bootstrap3.select(destForm("travellerTypes"),
        label = "Traveller Types",
        optionMap = travellerTypeMap,
        isMultiple = true,
        help = "Select multiple Using ctrl or cmd."
        )

        @views.html.bootstrap3.select(destForm("country"),
            label = "Country",
            optionMap = countryMap,
            isMultiple = false,
            help = "Select a country",
        )

        @text(destForm("district"),
            label = "District",
            placeholder = "district",
        )

        @text(destForm("latitude"),
            label = "Latitude",
            placeholder = "latitude",
            help = "Click on map"
        )

        @text(destForm("longitude"),
            label = "Longitude",
            placeholder = "longitude (click on map)",
            help = "Click on map"
        )

    </fieldset>
}
