@import java.util
@import helper._
@import formdata.AddUserPhoto
@(addUserPhotoForm : Form[AddUserPhotoData])


@main("Index") {
    <div class="container">
        <div class="well">
        @form(helper.CSRF(routes.UserPhotosController.savePhoto()) , 'class -> "form-horizontal") {
            <fieldset>
                    <!-- Header -->
                <legend id="legend">Add photos</legend>

                    <!-- FirstName -->
                @text(addUserPhotoForm("url"),
                    label = "First name",
                    placeholder = "first name",
                    help = "Please enter your first name. (required)")

                    <!-- LastName -->
                @text(addUserPhotoForm("isPublic"),
                    label = "Last name",
                    placeholder = "last name",
                    help = "Please enter your last name. (required)")

                <div class="form-group actions">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input id="submit" type="submit" value="Submit" class="btn btn-primary"/>
                    </div>
                </div>

            </fieldset>

        }
        </div>


    </div>
}
