@import helper._

@(userForm : Form[User], travellerTypes : List[TravellerType], user : User)

@main(user, "Edit Traveller Types") {
    <div class="container">
        <div class="row">
            <h2>Edit traveller types for @user.getFName() @user.getLName(): </h2>
        </div>


            <div class ="row">
            @for(travellerType <- user.getTravellerTypes) {
                <div class="container">
                @form(action = helper.CSRF(routes.TravellerTypeController.deleteUpdateTravellerType(travellerType.getTtypeid))) {
                    <ul class="list-group">
                        <li class="list-group-item" style = "width: 220px;">
                            @travellerType.getTravellerTypeName <button type="submit" style="position: absolute;
                            top: 5px;
                            bottom: 5px;
                            right: 5px;
                            margin: 0;" class = "btn btn-danger">&times</button> </li>
                    </ul>

                    }
                    @if(flash.containsKey("error")) {
                        <div class="well">
                            <div id="error-message" class="text-danger">
                            @flash.get("error")
                            </div>
                        </div>
                    }
                </div>
            }
            </div>
        <div class="row">
        @if(TravellerType.find.all().size() != user.getTravellerTypes.size()) {
            <div class="col-md-2">
            @form(action = helper.CSRF(routes.TravellerTypeController.submitUpdateTravellerType), 'id -> "myForm") {
                @select(
                    field = userForm("travellertypes"),
                    options = travellerTypes.map(travellerType => travellerType.getTtypeid.toString -> travellerType.getTravellerTypeName),
                    '_label -> "Select new type to add:"
                )
            }
            </div>
        }
            <div class="col-md-2">
                <br>
                @if(TravellerType.find.all().size() != user.getTravellerTypes.size()){
                    <input type="submit" value="Add traveller type" form="myForm" >
                } else{
                    <p>You may not add anymore traveller types.</p>
                }
            </div>
        </div>

    <div class = "row">
        <div class="col-md-3">
            <br>
            <form>
                <button class="btn btn-primary" formaction="@routes.HomeController.showhome()">Save</button>
            </form>
        </div>
    </div>


    </div>


}

