.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}
.tag a {
  color: white;
  cursor: pointer;
  opacity: 1;
  margin: 0 0 0 .3em;
}
.tag a:hover {
  opacity: 1.0
}
.tag .remove {
    vertical-align: bottom;
    top: 0;
    padding-bottom: 3px;
    padding-left: 5px;
    font-size: 20px;"
}

.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.tag-label {
    border-radius: .75em;
    vertical-align: text-top;
    background-color: #7e0dbf;
    margin: 5px;
}

#tag-line {
      overflow: hidden hidden;
      display: flex;
      white-space: pre-wrap;
      flex-wrap: wrap;
      width: inherit;
      height: fit-content;
    }

#tag-add {
    padding-left: 5px;
    border: 0px;
    border-radius: .75em;
    outline: none;
    line-height: 33px;
}