/* Limit image width to avoid overflow the container */
img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

#canvas {
    height: 600px;
    width: 600px;
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
}

#change-profile .preview {

}

.preview-wrapper{
    width: 100px;
    height:100px;
    position: absolute;
    top: 25%;
    right: 10%;
    overflow: hidden;
    border-radius: 100%;
}

preview-wrapper-original{
    width: 100px;
    height:100px;
    overflow: hidden;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}