/*
#carouselImage{
    max-height: 720px;
    width: 1280px;
}
*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#linkButton{
    width: 500px;
}

#photoAlbumMessage {
    color: red;
}

#profileAlbumMessage {
    color: red;
}

.carousel-indicators li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 5px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #8bd9ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #5994ff;
}

/*#change-profile .preview {*/

/*}*/

.preview-wrapper{
    width: 100px;
    height:100px;
    position: absolute;
    top: 25%;
    right: 10%;
    overflow: hidden;
    border-radius: 100%;
}

preview-wrapper-original{
    width: 100px;
    height:100px;
    overflow: hidden;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.searchDestinations {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.searchPublicDestinations {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.errorMessage {
    color: #FF0000;
    font-size: 16px;
}

#addPhotoLink {
    display: inline-block;
    max-width: 120px;
    max-height: 120px;
}

#imagesContainer {
    position: relative;
    max-width: 120px;
    height: 100%;
    width: 100%;
    left: -25px;
    top: -5px;
}

.overlay {
    position: absolute;
    max-width: 120px;
    opacity: 1;
    transition: .3s ease;
}

.icon {
    color: white;
    font-size: 25px;
    position: absolute;
    top: -20px;
    left: 72px;
    max-width: 60px;
    transform: translate(50%, 50%);
    -ms-transform: translate(-50%, -50%);
}

.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-eye-green {
    color: green;
}

.fa-eye-red {
    color: red;
}

.fa-eye-green:before {
    content: "\1F441";
}

.fa-eye-red:before {
    content: "\1F441";
}

.public-icon {
    display: inline-block;
    content: "P";
    font-size: 25px;
    color: green;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.private-icon {
    display: inline-block;
    content: "P";
    font-size: 25px;
    color: red;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.picture-privacy-text {
    font-size: 18px;
    color: black;
}

.legend-content {
    padding-right: 10px;
}

.picture-privacy-legend-span {
    padding: 10px;
    border: 1px solid #c1c1c1;
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }

ul#mylist li {
    display:inline;
    text-align:center;
    margin: 0 10%;
}
ul#mylist li i {
    display: block;
}

ul#mylist li:first-child {
    margin-left: 0;
}
ul#mylist li:last-child {
    margin-right: 0;
}

#change-profile-photo-to-placeholder {
    float: right;
}

.hiddenDiv {
    display:none
}


