.searchTreasureHunts {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.searchPublicDestinations {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#createTHuntButton {
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
}

.boldText {
    font-weight: bold;
}