body{
    background-color: #f9f9f9;
}
.loginform{
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-right: -25%;*/
    /*padding-top: 250px;*/
}

@media (min-width: 0px) {
    .row.equal {
        padding-top: 10%;
    }
}

.background-img {
    max-width: 100%;
}