@(userForm : Form[User])
@import helper._
@import views.html.bootstrap3._

@main("Login") {


<nav class="navbar navbar-custom">

    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Login</a></li>
        </ul>
    </div>
</nav>

<h1>Login</h1>
@helper.form(action = helper.CSRF(routes.LoginController.loginrequest())){

<fieldset>

    @text(userForm("username"),
    label = "User name",
    placeholder = "username",
    help = "Please enter the username.")

    @password(userForm("password"),
    label = "Password",
    placeholder = "password"
    )

</fieldset>
<p>
<div class="form-group actions">
    <div class="col-sm-offset-2 col-sm-10">
        <input id="submit" type="submit" value="Login" class="btn btn-primary"/>
        <a class="btn btn-danger" href="@routes.UserController.userindex()" role="button">Cancel</a>
    </div>
</div>
</p>

}
}