@import play.filters.csrf.AddCSRFToken
@(user: User)
@import views.html.bootstrap3._
@main("Index"){


    <head>
        <title>Home</title>
    </head>

    <div class="container">
        <h1>@user.fName @user.lName @if(user.userIsAdmin) {<img class="img"  width = "60" height="50" src="../assets/images/key_2_small.png"> } </h1>
    </div>

    <br>

    <div class="container">
        <div class="row">
                <!-- The profile picture, currently a placeholder -->
            <div class="text-center">
                <img class="img-circle" width = "150" src="@routes.Assets.at("images/Generic.png")">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Profile</h2>
                <p>Email: @user.getEmail()</p>
                <p>Gender: @user.gender</p>
                <p>Date of Birth: @user.dateOfBirth</p>
                @for(passport <- user.passports) {
                    <p>Passport: @passport.passportName</p>
                }
                @for(nationality <- user.nationality) {
                    <p>Nationality: @nationality.nationalityName</p>
                }
                <p>Creation date: @user.creationDate</p>
                @for(travellerType <- user.travellerTypes) {
                    <p>Traveller type: @travellerType.travellerTypeName</p>
                    <form>
                        <button class="btn btn-default" formaction="@routes.ProfileController.updateProfile()">Update profile</button>
                        <button class="btn btn-default" formaction="@routes.TravellerTypeController.updateTravellerType()">Update traveller type</button>
                        @if(user.userIsAdmin) {
                            <button class="btn btn-default" formaction="@routes.AdminController.indexAdmin()">Admin</button>
                        }
                    </form>
                }
            </div>
            <div class="col-md-4">
                <h2>Trips</h2>
                <form>
                    <div class="list-group">
                    @for(trip <- user.getTripsSorted) {
                        <a href="@routes.TripController.displaytrip(trip.tripid,"")" class="list-group-item list-group-item-action">
                        @trip.tripName
                        </a>
                    }
                    </div>
                    <button class="btn btn-default" formaction="@routes.DestinationController.indexDestination()">Destinations</button>
                    <button class="btn btn-default" formaction="@routes.TripController.createtrip()">Create trip</button>
                </form>
            </div>
            <div class="col-md-4">
                <h2>Insights</h2>
                <form>
                    <button class="btn btn-default" formaction="@routes.TravelPartnerController.renderFilterPage()">Search profile</button>
                </form>
            </div>
        </div>


        <br>



            <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addPhotoModal">Add Photo</button>


            <!-- Modal -->
        <div id="addPhotoModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload a new photo </h4>
                    </div>

                    <div class="modal-body">
                    @helper.form(action = routes.HomeController.upload, 'id -> "myForm", 'enctype -> "multipart/form-data") {
                        @helper.CSRF.formField
                        <input type="file" name="picture" required>

                        <br>

                        <p>
                            <input type="submit" value="Upload">
                            @helper.CSRF.formField
                            <input type="checkbox" name="private" value="private"> Make photo private
                        </p>

                    }


                    </div>
                </div>
            </div>


        </div>


        <br>


        <div>
            <div id="modal-picture" class="modal">
                <img class="modal-content" id="img01">
            </div>
                <!-- defines the number of photos the user has stored in the database. Currently hardcoded until tasks are finished -->
            @for(photo <- user.getUserPhotos) {
                <img class="img-thumbnail" id=@{photo.getUrl} width="60" src="@{routes.Assets.at("images/user_photos/user_" + user.getUserid + "/") + photo.getUrl}" alt="User Image">
            }
            <script>
                    // Get the modal
                    var modal = document.getElementById('modal-picture');
                    // When the user clicks, they quit the modal view
                    modal.onclick = function () {
                        this.style.display = "none";
                    };

                    // Get the image and insert it inside the modal
                    var images = document.getElementsByClassName("img-thumbnail");
                    var modalImg = document.getElementById("img01");
                    // loops through each thumbnail and adds the event listener
                    for (i = 0; i < @user.getUserPhotos.length; i++) {
                        images[i].onclick = function() {
                            modal.style.display = "block";
                            modalImg.src = this.src;
                        };
                    }
            </script>
        </div>
    </div>

}
