@(user: User)
    @import views.html.bootstrap3._
    @main("Index"){


    <head>
        <title>Home</title>
    </head>

    <div class="container">
        <div class="text-center">
            <h1>@user.fName @user.lName @if(user.isAdmin) {<img class="img"  width = "60" height="50" src="../../../public/images/key_2_small.png"> } </h1>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="text-center">
                <img class="img-circle" width = "150" src="@routes.Assets.at("images/Generic.png")">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Profile</h2>
                <p>Gender: @user.gender</p>
                <p>Date of Birth: @user.dateOfBirth</p>
                @for(passport <- user.passports) {
                <p>Passport: @passport.passportName</p>
                }
                @for(nationality <- user.nationality) {
                <p>Nationality: @nationality.nationalityName</p>
                }
                <p>Creation date: @user.creationDate</p>
                @for(travellerType <- user.travellerTypes) {
                <p>Traveller type: @travellerType.travellerTypeName</p>
                <form>
                    <button class="btn btn-default" formaction="@routes.ProfileController.createprofile()">Update profile</button>
                    <button class="btn btn-default" formaction="@routes.TravellerTypeController.updateTravellerType()">Update traveller type</button>
                </form>
                }
            </div>
            <div class="col-md-4">
                <h2>Trips</h2>
                <form>
                    <div class="list-group">
                        @for(trip <- user.getTrips) {
                        <a href="@routes.TripController.displaytrip(trip.getTripid)" class="list-group-item list-group-item-action">
                            @trip.tripName
                        </a>
                        }
                    </div>
                    <button class="btn btn-default" formaction="@routes.DestinationController.indexDestination()">Destinations</button>
                    <button class="btn btn-default" formaction="@routes.TripController.createtrip()">Create trip</button>
                </form>
            </div>
            <div class="col-md-4">
                <h2>Insights</h2>
                <form>
                    <button class="btn btn-default" formaction="@routes.TravelPartnerController.renderFilterPage()">Search profile</button>
                </form>
            </div>
        </div>
        <div class="flex-container">
            <style>
                .flex-container {
                    display: flex;
                    flex-direction: row-reverse;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            </style>
            <div class="row">
                <!--This is where eventually the real photos will be added for thumbnailing -->
                @for(num <- 1 to 108) {
                    <img class="img-thumbnail" width="60" src="@routes.Assets.at("images/Generic.png")">
                }
            </div>
        </div>
        <div class="col-md-4">
        @for(num <- 1 to 100) {
            <img class="img-responsive"  src="@routes.Assets.at("images/Generic.png")">
            }
        </div>
    </div>

    }