@(user : User, trips : List[Trip], destinations : List[Destination])

<style>
        #map {
            height: calc(100% - 50px);
            /*position: relative;*/
            /*z-index: 1;*/

        }
        #control {
            height: 100%;
            text-align: center;
        }
        #tripsTab {
            height: 100%;
        }

        .singleTrip {
            height: 60%;
            overflow-y: auto;
        }
        #tripList {
            height: 30%;
            overflow-y: auto;
        }

        #singleDestinationContainer {
            height: 50%;
        }

        .singleDestination {
            height: 45%;
            display: none;
        }

        .tripDateInput {
            width: 147px;
        }

</style>


@main(user, "Map") {


    <div id="map" class="col-md-8"></div>
    <div id="control" class="col-md-4">

        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#destinationsTab">Destinations</a></li>
            <li><a data-toggle="tab" href="#tripsTab">Trips</a></li>
        </ul>

        <div class="tab-content">

            <div id="destinationsTab" class="tab-content tab-pane fade in active">

                <div id="singleDestinationContainer">

                    @for(destination <- destinations) {

                        <div id="singleDestination_@destination.getDestId()" class="singleDestination">

                            <div class="row">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-9">
                                    <span>@destination.getDestName()</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3 control-label">Type</label>
                                <div class="col-sm-9">
                                    <span>@destination.getDestType()</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3 control-label">Traveller Types</label>
                                <div class="col-sm-9">
                                @for(travellerType <- destination.getTravellerTypes()) {
                                    <span style="margin-right: 6px;">@travellerType</span>
                                }
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3 control-label">Country</label>
                                <div class="col-sm-9">
                                    <span>@destination.getCountry()</span>
                                    @if(!destination.getIsCountryValid()) {
                                        <span class="text-danger"> Invalid country</span>
                                    }
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3 control-label">District</label>
                                <div class="col-sm-9">
                                    <span>@destination.getDistrict()</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3 control-label">Latitude</label>
                                <div class="col-sm-9">
                                    <span>@destination.getLatitude()</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-3 control-label">Longitude</label>
                                <div class="col-sm-9">
                                    <span>@destination.getLongitude()</span>
                                </div>
                            </div>

                        </div>

                    }

                </div>
                <hr>
                <div id="destinationList">

                    <div class="list-group">
                        @for(destination <- destinations) {

                            <a onclick="displayDestination(@destination.getDestId(),
                                    @destination.getLatitude(),
                                    @destination.getLongitude())"
                            class="list-group-item list-group-item-action">
                            @destination.getDestName()
                            </a>
                        }
                        <a></a>
                    </div>

                </div>

            </div>

            <div id="tripsTab" class="tab-content tab-pane fade">

                <div id="singleTrip" class="singleTrip">


                    <table class="table table-hover" id="tripTable">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Arrival</th>
                                <th scope="col">Departure</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        @for(trip <- trips) {

                        <tbody id="tripTable_@trip.getTripid()" style="display: none;">
                        @for(visit <- trip.getOrderedVisits()){
                            <tr id="visit_row_@visit.getVisitid()">
                                <th scope ="row">@visit.getDestination().getDestName()</th>
                                <td>@visit.getDestination().getDestType()</td>
                                <td><input class="tripDateInput" type="date" onblur="updateVisitDate(@visit.getVisitid(), this.value)" value="@visit.getArrival()"></td>
                                <td><input class="tripDateInput" type="date" onblur="" value="@visit.getDeparture()"></td>
                                <td onclick="sendDeleteVisitRequest(
                                '@routes.TripController.deletevisit(visit.getVisitid())',
                                '@visit.getVisitid()')"><a class="deleteButton" href="">&#10060</a></td>
                            </tr>
                            }
                        </tbody>

                        }

                    </table>

                </div>
                <hr>
                <div id="tripList">

                    <div class="list-group">
                        @for(trip <- trips) {

                            <a onclick="displayTrip(@trip.getTripid(),
                            @trip.getOrderedVisits().get(0).getDestination().getLatitude(),
                                @trip.getOrderedVisits().get(0).getDestination().getLongitude())"
                            class="list-group-item list-group-item-action">
                            @if(trip.getTripStart() != null){
                                @trip.getTripName() | Arrival date: @trip.getTripStart()
                            } else{
                                @trip.getTripName | No arrival dates
                            }
                            </a>
                        }
                        <a></a>
                    </div>

                </div>


            </div>
        </div>

    </div>


    <script src="@routes.Assets.at("js/map/map.js")"></script>
    <script src="@routes.Assets.at("js/destination/destinationMap.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCyC_ON0GgSmJIfPlL7oke5PZgbR8TLbg&callback=initMap&libraries=drawing,places"
    async defer></script>



}