@(userForm : Form[User])
@import helper._
    @import views.html.bootstrap3._
    @main("Index"){
        <div class="container">
    <head>
        <title>Profile</title>
    </head>
    <body>
        <h1>Update your profile</h1>
        @helper.form(action = helper.CSRF(routes.ProfileController.updateprofile())){
            @helper.inputText(userForm("fName"),'_label -> "First Name:")
            @helper.inputText(userForm("lName"),'_label -> "Last Name:")
            @helper.inputRadioGroup(
            userForm("gender"),
            options = options("Male"->"Male","Female"->"Female", "Other"->"Other"), '_label -> "Gender: ")
            @helper.inputDate(userForm("dateOfBirth"), '_label -> "Date of Birth: " )
            @helper.checkbox(
                userForm("admin"), '_label -> "Admin: ")
            <input type="submit" value="Update profile">
            }
        <a href="@routes.HomeController.showhome()">Back to home</a>
        <br>
        <a href="@routes.TravellerTypeController.updateTravellerType()">Update traveller type</a>
        <br>
        <a href="@routes.ProfileController.updateNatPass()">Update passport/nationality</a>
    </body>
</div>
    }