@import java.util
@import helper._
@import formdata.UserFormData
@(userForm : Form[UserFormData], genders:util.List[String], tTypes:util.Map[String, Boolean], passports:util.Map[String, Boolean], nationalities:util.Map[String, Boolean], user : User)




@main(user, "Index") {
    <div class="container">
        <div class="well">
        @form(helper.CSRF(routes.RegisterController.saveuser()) , 'class -> "form-horizontal") {
            @createProfileFieldset(userForm, genders, tTypes, passports, nationalities)
        }
        </div>

        @if(flash.containsKey("success")) {
            <div class="well">
                <div id="success-message" class="text-success">
                @flash.get("success")
                </div>
            </div>
        }
        @if(flash.containsKey("error")) {
            <div class="well">
                <div id="error-message" class="text-danger">
                @flash.get("error")
                </div>
            </div>
        }
    </div>
}