@(currentUser: User, adminUser: User, users: List[User], allReqs: List[DestinationModificationRequest])

@main(currentUser, "Admin") {
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    </head>
    <div class="container">
        <div class="col">
            <div class="row">
                <h1>Users</h1>
                <table id="userTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">User ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Date of Birth</th>
                            <th scope="col">Change Admin Status</th>
                            <th scope="col">Act as User</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(user <- users) {
                        @if(user.getUserid != currentUser.getUserid){
                            <tr>
                                <th scope ="row">@user.getUserid()</th>
                                <td>@user.getEmail()</td>
                                <td>@user.getFName()</td>
                                <td>@user.getLName()</td>
                                <td>@user.getGender()</td>
                                <td>@user.getDateOfBirth</td>
                                @if(user.userIsAdmin()) {
                                    <td><a class="btn btn-link" href="@routes.AdminController.adminToUser(user.getUserid)" role="button">Revoke Admin</a></td>
                                } else {
                                    <td><a class="btn btn-link" href="@routes.AdminController.userToAdmin(user.getUserid)" role="button">Make Admin</a></td>
                                }
                                @if(currentUser.getUserid == adminUser.getUserid) {
                                    <td><a class="btn btn-link" href="@routes.AdminController.setUserToActAs(user.getUserid)" role="button">Act as user</a></td>
                                } else {
                                    <td><a class="btn btn-link" href="@routes.AdminController.setUserToActAs(user.getUserid)" role="button" disabled>Act as user</a></td>
                                }
                            </tr>
                         }
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h1>Destination Modification Requests</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Destination ID</th>
                        <th scope="col">Destination Name</th>
                        <th scope="col">Author ID</th>
                        <th scope="col">Author Name</th>
                        <th scope="col">Date created</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody>
                @for(req <- allReqs) {
                    <tr>
                        <th scope ="row">@req.getOldDestination().getDestId()</th>
                        <th>@req.getOldDestination().getDestName()</th>
                        <td>@req.getRequestAuthor().getUserid()</td>
                        <td>@req.getRequestAuthor().getFName() @req.getRequestAuthor().getLName()</td>
                        <td>@req.getCreationDate()</td>
                        <td><a class="btn btn-link" href="@routes.AdminController.viewDestinationModificationRequest(req.id)" role="button">View</a></td>

                    </tr>

                }
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#userTable').DataTable();
        });
    </script>
}
