@(currentUser: User, users: List[User], allReqs: List[DestinationModificationRequest])

@main(currentUser, "Admin") {

<div class="container">
    <div class="col">

        <div class="row">
            <h1>Users</h1>
            <input type="text" id="searchUsers"  onkeyup="searchUsers()" placeholder="Search for users by email">
            <table id="userTable" class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Email</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Change Admin Status</th>
                    <th scope="col">Act as User</th>
                </tr>
                </thead>
                <tbody>
                @for(user <- users) {
                @if(user.getUserid != currentUser.getUserid){
                <tr style="display:none;">
                    <th scope ="row">@user.getUserid()</th>
                    <td>@user.getEmail()</td>
                    <td>@user.getfName()</td>
                    <td>@user.getlName()</td>
                    <td>@user.getGender()</td>
                    <td>@user.getDateOfBirth</td>
                    @if(user.userIsAdmin()) {
                        <td><a class="btn btn-link" href="@routes.AdminController.adminToUser(user.userid)" role="button">Revoke Admin</a></td>
                    } else {
                        <td><a class="btn btn-link" href="@routes.AdminController.userToAdmin(user.userid)" role="button">Make Admin</a></td>
                    }
                    <td><a class="btn btn-link" href="#" role="button">Act as user</a></td>

                </tr>


                <br>
                }
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h1>Destination Modification Requests</h1>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Destination ID</th>
                <th scope="col">Destination Name</th>
                <th scope="col">Author ID</th>
                <th scope="col">Author Name</th>
                <th scope="col">Date created</th>
                <th scope="col">View</th>
            </tr>
            </thead>
            <tbody>
            @for(req <- allReqs) {

                <tr>
                    <th scope ="row">@req.getOldDestination().getDestId()</th>
                    <th>@req.getOldDestination().getDestName()</th>
                    <td>@req.getRequestAuthor().getUserid()</td>
                    <td>@req.getRequestAuthor().getfName() @req.getRequestAuthor().getlName()</td>
                    <td>@req.getCreationDate()</td>
                    <td><a class="btn btn-link" href="@routes.AdminController.viewDestinationModificationRequest(req.id)" role="button">View</a></td>

                </tr>

            }
            </tbody>
        </table>
    </div>
</div>

</div>

    <script src="@routes.Assets.at("js/users/indexAdmin.js")" type="text/javascript"></script>

}
