@import factories.UserFactory
@import views.html.bootstrap3._

@(user: User, actualUser : User)

@main(actualUser, "Index") {


    <head>
        <title>View Profile</title>
    </head>

    <div class="container">
        <h1>@user.fName @user.lName
            @if(UserFactory.getUserProfilePicture(user.getUserid()) != null){
                <img class="img-circle"  width = "50" height="50" src="@{routes.HomeController.serveProfilePicture(user.getUserid())}">
            } else {
                <img class="img-circle"  width = "50" height="50" src="@{routes.Assets.at("images/Generic.png")}">
            }
            @if(user.userIsAdmin) {
                <img class="img"  width = "60" height="50" src="@{routes.Assets.at("images/key_2_small.png")}">
            }
        </h1>
    </div>



    <br>

    <div class="container">
        <div class="row">
            <div class="text-center">
                @if(UserFactory.getUserProfilePicture(user.getUserid()) != null){
                    <img class="img-circle" width = "150" height = "150" src="@{routes.HomeController.serveProfilePicture(user.getUserid())}")>
                } else {
                    <img class="img-circle" width = "150" height = "150" src="@{routes.Assets.at("images/Generic.png")}")>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Profile</h2>
                <p>Gender: @user.gender</p>
                <p>Date of Birth: @user.dateOfBirth</p>
                @for(nationality <- user.nationality) {
                    <p>Nationality: @nationality.nationalityName
                    </p>
                }
                <p>Creation date: @user.creationDate</p>
                <ul class="list-group">
                @for(travellerType <- user.travellerTypes) {
                    <li class="list-group-item" style = "width: 300px;">
                    @travellerType.travellerTypeName </li>
                }
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Trips</h2>
                <form>
                    <div class="list-group">
                    @for(trip <- user.getTripsSorted) {
                        <a href="@routes.TripController.displaytrip(trip.tripid)" class="list-group-item list-group-item-action">
                        @if(trip.getTripStart() != null){
                            @trip.tripName | Arrival date: @trip.getTripStart()
                        } else{
                            @trip.tripName | No arrival dates
                        }
                        </a>
                    }
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                @*For the future*@
                @*<h2>Travel Partner</h2>*@
                @*<form>*@
                @*<button class="btn btn-default">Send Partner Request</button>*@
                @*</form>*@
            </div>
        </div>

        <div>
            <div id="modal-picture" class="modal">
                <img class="modal-content" id="img01">
            </div>
            <div class="container">
                <div class="row">
                @for(i <- 0 to 2) {
                    <div class="col-sm-2">

                    @if(i < user.getUserPhotos.size() ){
                        <a href="#" data-toggle="modal" data-target="#destination-carousel">
                            <div class="container" id="imagesContainer" >
                                <div class="overlay">
                                    <i class="icon" title="User Profile">
                                    @if(user.getUserPhotos.get(i).getIsPublic()) {
                                        <i class="fa fa-eye"></i>
                                    } else {
                                        <i class="fa fa-eye-slash"></i>
                                    }
                                    </i>
                                </div>
                                @if(user.getUserPhotos.get(i).getIsPublic()) {
                                    <img class="img-thumbnail" id=@{user.getUserPhotos.get(i).getUrl} width="60" src="@{routes.HomeController.index(user.getUserPhotos.get(i).getUrlWithPath)}" alt="User Image">
                                }

                            </div>
                        </a>


                    }

                    </div>
                }
                </div>

                <div class="row">
                @for(i <- 3 to 5) {
                    <div class="col-sm-2">

                    @if(i < user.getUserPhotos.size() ){
                        <a href="#" data-toggle="modal" data-target="#destination-carousel">
                            <div class="container" id="imagesContainer" >
                                <div class="overlay">
                                    <i class="icon" title="User Profile">
                                    @if(user.getUserPhotos.get(i).getIsPublic()) {
                                        <i class="fa fa-eye"></i>
                                    } else {
                                        <i class="fa fa-eye-slash"></i>
                                    }
                                    </i>
                                </div>
                                @if(user.getUserPhotos.get(i).getIsPublic()) {
                                    <img class="img-thumbnail" id=@{user.getUserPhotos.get(i).getUrl} width="60" src="@{routes.HomeController.index(user.getUserPhotos.get(i).getUrlWithPath)}" alt="User Image">
                                }

                            </div>
                        </a>


                    }
                    </div>
                }
                </div>

                <div class="row">
                @for(i <- 6 to 8) {
                    <div class="col-sm-2">

                    @if(i < user.getUserPhotos.size() ){
                        <a href="#" data-toggle="modal" data-target="#destination-carousel">
                            <div class="container" id="imagesContainer" >
                                <div class="overlay">
                                    <i class="icon" title="User Profile">
                                    @if(user.getUserPhotos.get(i).getIsPublic()) {
                                        <i class="fa fa-eye"></i>
                                    } else {
                                        <i class="fa fa-eye-slash"></i>
                                    }
                                    </i>
                                </div>
                                @if(user.getUserPhotos.get(i).getIsPublic()) {
                                    <img class="img-thumbnail" id=@{user.getUserPhotos.get(i).getUrl} width="60" src="@{routes.HomeController.index(user.getUserPhotos.get(i).getUrlWithPath)}" alt="User Image">
                                }

                            </div>
                        </a>


                    }

                    </div>
                }
                </div>
            </div>
            <script>
                    // Get the modal
                    var modal = document.getElementById('modal-picture');
                    // When the user clicks, they quit the modal view
                    modal.onclick = function () {
                        this.style.display = "none";
                    };

                    // Get the image and insert it inside the modal
                    var images = document.getElementsByClassName("img-thumbnail");
                    var modalImg = document.getElementById("img01");
                    // loops through each thumbnail and adds the event listener
                    for (i = 0; i < @user.getUserPhotos.length; i++) {
                        images[i].onclick = function() {
                            modal.style.display = "block";
                            modalImg.src = this.src;
                        };
                    }
            </script>
        </div>
    </div>

}