@import helper._
@import formdata.NatFormData
@(userForm : Form[NatFormData], nationalities : List[Nationality], passports : List[Passport], user : User)
@main("Index"){
    <div class="container">
<h1>Edit passport and nationality </h1>


@form(action = helper.CSRF(routes.ProfileController.submitUpdatePassport)) {
    @select(
        field = userForm("passport"),
        options = passports.map(passport => passport.passid.toString -> passport.passportName),
        '_label -> "Select passports to add:"
    )
    <input type="submit" value="Add passport">
}

@form(action = helper.CSRF(routes.ProfileController.deletePassport)) {
@select(
    field = userForm("passportdelete"),
    options = user.passports.map(passport => passport.passid.toString -> passport.passportName),
    '_label -> "Select passports to delete:"
)
<input type="submit" value="Remove passport">
}

@for(passport <- user.passports) {
    <p>Passport: @passport.passportName</p>
}

@form(action = helper.CSRF(routes.ProfileController.submitUpdateNationality)) {
    @select(
        field = userForm("nationality"),
        options = nationalities.map(nationality => nationality.natid.toString -> nationality.nationalityName),
        '_label -> "Select nationality to add:"
    )
    <input type="submit" value="Add nationality">
}

@form(action = helper.CSRF(routes.ProfileController.deleteNationality)) {
    @select(
        field = userForm("nationalitydelete"),
        options = user.nationality.map(nationality => nationality.natid.toString -> nationality.nationalityName),
        '_label -> "Select nationality to delete:"
    )
    <input type="submit" value="Remove nationality">
}

@for(nationality <- user.nationality) {
    <p>Nationality: @nationality.nationalityName</p>
}

<a href="@routes.HomeController.showhome()">Back to home</a>
    </div>
}