@import formdata.UpdateUserFormData
@import helper._
@import views.html.bootstrap3._

@(updateUserForm : Form[UpdateUserFormData])

@main("Index") {
    <div class="container">
        <div class="well">
        @form(helper.CSRF(routes.ProfileController.updateProfile()) , 'class -> "form-horizontal") {
            @updateProfileFieldSet(updateUserForm)
        }
        </div>

        <a href="@routes.HomeController.showhome()">Back to home</a>
        <br>
        <a href="@routes.TravellerTypeController.updateTravellerType()">Update traveller type</a>
        <br>
        <a href="@routes.ProfileController.updateNatPass()">Update passport/nationality</a>
    </div>
}