@import formdata.UpdateUserFormData
@import helper._
@import views.html.bootstrap3._
@import java.util

@import views.html.users.profile.updateProfileFieldSet
@(updateUserForm : Form[UpdateUserFormData], genders: util.List[String], user : User)

@main(user, "Index") {
    <div class="container">
        <div class="well">
        @form(helper.CSRF(routes.ProfileController.updateProfileRequest()) , 'class -> "form-horizontal") {
            @updateProfileFieldSet(updateUserForm, genders)
        }

        </div>
    </div>
}