@import formdata.NatFormData
@import factories.UserFactory
@import helper._
@(userForm : Form[NatFormData], nationalities : List[Nationality], passports : List[Passport], id : Int, user : User)




@main(user, "Index"){

    <div class="container">

        <h1>Edit passport and nationality</h1>

        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    <p><h3><b>Passport(s):</b></h3>
                    <div class="col-sm">
                        <ul class="list-group" >
                            @for(passport <- UserFactory.getUserPassports(id)) {
                                <li class="list-group-item">@passport.passportName</li>
                            }
                        </ul>
                    </div>
                    </p>

                </div>

                <div class="col-md-4">
                    @form(action = helper.CSRF(routes.ProfileController.submitUpdatePassport)) {
                        @select(
                            field = userForm("passport"),
                            options = passports.map(passport => passport.passid.toString -> passport.passportName),
                            '_label -> "Select passports to add:"
                        )
                        <input type="submit" value="Add passport">
                    }
                </div>
                <div class="col-md-4">
                    @form(action = helper.CSRF(routes.ProfileController.deletePassport)) {
                        @select(
                            field = userForm("passportdelete"),
                            options = UserFactory.getUserPassports(id).map(passport => passport.passid.toString -> passport.passportName),
                            '_label -> "Select passports to delete:"
                        )
                        <input type="submit" value="Remove passport">
                    }
                </div>
            </div>
        </div>


        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    <p><h3><b>Nationality(s):</b></h3>
                    <ul class="list-group" >
                        @for(nationality <- UserFactory.getUserNats(id)) {
                            <li class="list-group-item">@nationality.nationalityName</li>
                        }
                    </ul>
                    </p>


                </div>

                <div class="col-md-4">
                    @form(action = helper.CSRF(routes.ProfileController.submitUpdateNationality)) {
                        @select(
                            field = userForm("nationality"),
                            options = nationalities.map(nationality => nationality.natid.toString -> nationality.nationalityName),
                            '_label -> "Select nationality to add:"
                        )
                        <input type="submit" value="Add nationality">
                    }
                </div>
                <div class="col-md-4">
                    @form(action = helper.CSRF(routes.ProfileController.deleteNationality) ) {

                        <input type="hidden" name="userId" value=@id>

                        @select(
                            field = userForm("nationalitydelete"),
                            options = UserFactory.getUserNats(id).map(nationality => nationality.natid.toString -> nationality.nationalityName),
                            '_label -> "Select nationality to delete:",
                        )
                        <input type="submit" value="Remove nationality">
                    }

                    @if(flash.containsKey("error")) {
                    <div class="well">
                        <div id="error-message" class="text-danger">
                            @flash.get("error")
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>



    <a href="@routes.HomeController.showhome()">Back to home</a>
    </div>
}