@import helper._
@import formdata.NatFormData
@import factories.UserFactory
@(userForm : Form[NatFormData], nationalities : List[Nationality], passports : List[Passport], id : Int)
@main("Index"){
    <div class="container">
<h1>Edit passport and nationality </h1>


@form(action = helper.CSRF(routes.ProfileController.submitUpdatePassport)) {
    @select(
        field = userForm("passport"),
        options = passports.map(passport => passport.passid.toString -> passport.passportName),
        '_label -> "Select passports to add:"
    )
    <input type="submit" value="Add passport">
}

@form(action = helper.CSRF(routes.ProfileController.deletePassport)) {
@select(
    field = userForm("passportdelete"),
    options = UserFactory.getUserPassports(id).map(passport => passport.passid.toString -> passport.passportName),
    '_label -> "Select passports to delete:"
)
<input type="submit" value="Remove passport">
}

@for(passport <- UserFactory.getUserPassports(id)) {
    <p>Passport: @passport.passportName</p>
}

@form(action = helper.CSRF(routes.ProfileController.submitUpdateNationality)) {
    @select(
        field = userForm("nationality"),
        options = nationalities.map(nationality => nationality.natid.toString -> nationality.nationalityName),
        '_label -> "Select nationality to add:"
    )
    <input type="submit" value="Add nationality">
}

@form(action = helper.CSRF(routes.ProfileController.deleteNationality) ) {

    <input type="hidden" name="userId" value=@id>




    @select(

        field = userForm("nationalitydelete"),

        options = UserFactory.getUserNats(id).map(nationality => nationality.natid.toString -> nationality.nationalityName),

        '_label -> "Select nationality to delete:"
    )
    <input type="submit" value="Remove nationality">
}

@for(nationality <- UserFactory.getUserNats(id)) {
    <p>Nationality: @nationality.nationalityName</p>
}

<a href="@routes.HomeController.showhome()">Back to home</a>
    </div>
}