@import formdata.UpdateUserFormData

@(updateUserForm : Form[UpdateUserFormData])
@import helper._
    @import views.html.bootstrap3._
    @main("Index"){
        <div class="container">
    <head>
        <title>Profile</title>
    </head>
    <body>
        <h1>Update your profile</h1>
        @helper.form(action = helper.CSRF(routes.ProfileController.updateProfile())){
            @helper.inputText(updateUserForm("firstName"),'_label -> "First Name:")
            @helper.inputText(updateUserForm("lastName"),'_label -> "Last Name:")
            @helper.inputRadioGroup(
                updateUserForm("gender"),
            options = options("Male"->"Male","Female"->"Female", "Other"->"Other"), '_label -> "Gender: ")
            @helper.checkbox(
                updateUserForm("admin"), '_label -> "Admin: ")
            @helper.inputDate(updateUserForm("dateOfBirth"), '_label -> "Date of Birth: " )
            <input type="submit" value="Update profile">
            }
        <a href="@routes.HomeController.showhome()">Back to home</a>
        <br>
        <a href="@routes.TravellerTypeController.updateTravellerType()">Update traveller type</a>
        <br>
        <a href="@routes.ProfileController.updateNatPass()">Update passport/nationality</a>
    </body>
</div>
    }