@import java.util.List;

@import formdata.UpdateUserFormData
@import views.html.bootstrap3._
@import java.util
@(updateUserForm : Form[UpdateUserFormData], genders: java.util.List[String])



<fieldset>
        <!-- Header -->
    <legend id="legend">Update Profile</legend>



        <!-- FirstName -->
        @text(updateUserForm("username"),
            label = "Email",
            placeholder = "Email",
            help = "Please enter your email. (required)")


            @password(updateUserForm("password"),
                label = "Password",
                placeholder = "password",
                help = "Please enter your new password (leave empty to keep unchanged).")


    <!-- FirstName -->
    @text(updateUserForm("firstName"),
        label = "First name",
        placeholder = "first name",
        help = "Please enter your first name. (required)")


        <!-- LastName -->
    @text(updateUserForm("lastName"),
        label = "Last name",
        placeholder = "last name",
        help = "Please enter your last name. (required)")

        <!-- Gender -->
    @radiobuttons(updateUserForm("gender"),
        label = "Gender",
        buttonNameList = genders,
        help = "Please select your gender. (required)")


        <!-- Date of birth -->
    @datepicker(updateUserForm("dateOfBirth"),
        label = "Date of birth",
        placeholder = "01/01/2000",
        help = "Please select your Date of birth. (required)")

    <div id="hiddenExistingEmail" style="display: none;">
        @text(updateUserForm("existingUsername"),
        label = "Email",
        placeholder = "Email",
        help = "Please enter your email. (required)")
    </div>







    <div class="form-group actions">

        <div class="col-sm-offset-2 col-sm-10">
            <input id="submit" type="submit" value="Update Profile" class="btn btn-primary"/>
        </div>
    </div>

</fieldset>