@(user: User, taggableType: String, taggableId: Integer)

<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/createTag.css")">
</head>

<div class="container" id="tag-container">

    <div class ="tag-list" data-taggableType="@taggableType" data-taggableId="@taggableId">
        <div class="row">

                <div id="tag-well" style="width:400px;height:60px" class="well well-sm">
                    <div class ="tag-line">
                        <input type="text" class="tag-add" list="tag-add-results" name="Tag Add" title="Tag Add" placeholder="Add Tags" autocomplete="off">
                    </div>
                </div>
        </div>

    </div>

    <datalist class="tag-add-results"></datalist>

</div>

<script src="@routes.Assets.at("js/tags/createTags.js")" type="text/javascript"></script>