@import helper._

@(tag: Tag, user : User)

@main(user, "Tags") {
    <div class="container">
        <div class="row">
            <h2>Items with tag @tag.getName</h2>
        </div>
        <div id="photoDiv">
            <h3>Photos</h3>
        </div>
        <div id="destinationDiv">
            <h3>Destinations</h3>
        </div>
        <div id="tripDiv">
            <h3>Trips</h3>
        </div>
    </div>



    <script src="@routes.Assets.at("js/tags/displayTags.js")" type="text/javascript"></script>
}

