@import factories.UserFactory
@import views.html.users.profile.countryErrorMessage
@(albums: List[Album], user: User)

@main(user, "Albums") {

<head>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/cropper.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home.css")">
    <title>Home</title>
</head>


<br>

<div class="container">
    <div>
        <div id="modal-picture" class="modal">
            <img class="modal-content" id="img01">
        </div>




        <!-- Trigger the modal with a button -->
        <div>
            <h2>Albums</h2>
            <span class="picture-privacy-legend-span">
                        <span class="legend-content">
                            <span class="public-icon">&#128065</span><span class="public-icon picture-privacy-text"> : public </span>
                        </span>
                        <span>
                            <span class="private-icon">&#128065</span> <span class="public-icon picture-privacy-text"> : private </span>
                        </span>
                    </span>
        </div>

        <div>
            <h3>Create album, this will be somewhere else</h3>
            <input id="albumTitleInput" type="text">
            <button onclick="
            createAlbum(
                '@routes.AlbumController.createAlbum()',
                document.getElementById('albumTitleInput').value,
                null)
        ">Create</button>


            <button onclick="
            manipulateMediaInAlbum(
            '@routes.AlbumController.addMediaToAlbum(1)',
            [1,2])
        ">Add media to album</button>

            <button onclick="
            manipulateMediaInAlbum(
                    '@routes.AlbumController.removeMediaFromAlbum(1)',
                    [1, 2])
        ">Remove media from album</button>

            <button onclick="
            manipulateMediaInAlbum(
                    '@routes.AlbumController.moveMediaToAlbum(1)',
                    [1, 2])
        ">Move media to album</button>

            <button onclick="
            updateAlbum(
                    '@routes.AlbumController.updateAlbum(1)',
                    document.getElementById('albumTitleInput').value)
        ">Update album title</button>
        </div>
    </div>
</div>



        <br>

    <div class="container">
    <input type="text" id="searchAlbums" onkeyup="searchAlbum()" placeholder="Search for albums">
    </div>


        <br>

<div class="container">
    <div class="row" id="albumList">
        @for(album <- albums) {
        <div class="col-sm-3 album">
            <a href="@routes.AlbumController.viewAlbum(album.getAlbumId)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@album.getTitle()</h3>
                </div>
                <div class="panel-body" style="min-height: 150px; max-height: 150px; height: 150px;">
                    <div id="Carousel@album.getAlbumId" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            @if(0 < album.viewAllMedia(true).size()) {
                            <div class="item active">
                                <img class="center" id=@{album.viewAllMedia(true).get(0).getUrl()} style="width:140px;height:125px;" src="@{routes.HomeController.index(album.viewAllMedia(true).get(0).getUrlWithPath)}" alt="User Image">
                            </div>
                            } else {
                            <div class="item active">
                                <img class="center"  style="width:140px;height:125px;"src="/assets/images/destinationPlaceHolder.png">
                            </div>
                            }


                            @for(i <- 1 to 2) {
                            @if(i < album.viewAllMedia(true).size()){
                            <div class="item">
                                <img class="center" id=@{album.viewAllMedia(true).get(i).getUrl()} style="width:140px;height:125px;" src="@{routes.HomeController.index(album.viewAllMedia(true).get(i).getUrlWithPath)}" alt="User Image">
                            </div>
                            }
                            }
                        </div>

                    </div>
                </div>
            </div>
            </a>
        </div>
        }
    </div>
</div>
</div>

</div>








<script src="@routes.Assets.at("js/album/albumMediaManipulationRequests.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/album/albumSearch.js")" type="text/javascript"></script>


}