@(user: User, inAlbum: Boolean, album: Album)

<div id="addPhotoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

            <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload a new photo </h4>
            </div>
            <div class="modal-body">
                
                @users.tag.createSearchTags2(user,"photo", null)

                <input id="photoUpload" type="file" accept="image/png,image/jpeg" name="picture" required/>

                <br>
                <div>
                    <p>
                        Add to Album
                            @if(inAlbum) {
                                <input id="album-search-photo" name="Album Search" title="Album Search" data-albumId="@album.getAlbumId"
                                value="@album.getTitle" disabled>

                            } else {
                                <input id="album-search-photo" list="album-results-photo" name="Album Search" title="Album Search"
                                placeholder="Search Album">

                                <datalist id="album-results-photo">
                                @for(album <- user.getAlbums) {
                                    <option value="@album.getTitle()"></option>
                                }
                                </datalist>
                            }
                    </p>

                    <p id="photoAlbumMessage" hidden> This media must be in an Album </p>
                </div>
                <p>
                    <input type="submit" value="Upload" id="photo-upload">
                    <input type="checkbox" id="private" name="private" value="private" title=""> Make photo private
                </p>

            </div>
        </div>
    </div>
</div>