@(album: Album, user: User)

@allMedia = {album.viewAllMedia(true)}

@main(user, "View Album") {

    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/album.css")">
        <title>Album</title>
    </head>

    <body onpageshow="getAlbum(@user.getUserid, @album.getAlbumId, @album.userIsOwner(user))">
    <h2 style="text-align: center;">@album.getTitle</h2>

    <p id="para"> </p>
    <div class="container">
        <div class="row">
            <!--Media items added through Javascript-->
            <div id="col1" class="column"></div>
            <div id="col2" class="column"></div>
            <div id="col3" class="column"></div>
            <div id="col4" class="column"></div>
        </div>
    </div>

    <!-- The Modal/Lightbox -->
    <div id="myModal" class="modal" >
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">

            <div class="mySlides">
                <div class="numbertext">1 / 4</div>
                <img src="/assets/images/destinationPlaceHolder.png" style="width:80%">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 4</div>
                <img src="/assets/images/Generic.png" style="width:80%">
            </div>

            <div class="mySlides">
                <div class="numbertext">3 / 4</div>
                <img src="/assets/images/card.PNG" style="width:80%">
            </div>

            <div class="mySlides">
                <div class="numbertext">4 / 4</div>
                <img src="/assets/images/Capture.PNG" style="width:80%">
            </div>

            <!-- Next/previous controls -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Caption text -->
            <div class="caption-container">
                <p id="caption"></p>
            </div>

            <!-- Thumbnail image controls -->
            <div class="column">
                <img class="demo" src="/assets/images/destinationPlaceHolder.png" onclick="currentSlide(1)" alt="Nature">
            </div>

            <div class="column">
                <img class="demo" src="/assets/images/destinationPlaceHolder.png" onclick="currentSlide(2)" alt="Snow">
            </div>

            <div class="column">
                <img class="demo" src="/assets/images/destinationPlaceHolder.png" onclick="currentSlide(3)" alt="Mountains">
            </div>

            <div class="column">
                <img class="demo" src="/assets/images/destinationPlaceHolder.png" onclick="currentSlide(4)" alt="Lights">
            </div>
        </div>
    </div>

    </body>

    <script>

    </script>
    <script src="@routes.Assets.at("js/album/albumView.js")" type="text/javascript"></script>

}