@import helper._
@import views.html.bootstrap3._

@(user: User, categoryOptions : Map[Integer, String])

@main(user, "Events") {

    <head>


        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/events.css")">
        <style>
            body {
            }
            #map {
                margin: 10px 20px 10px 20px;
                height: 30vh;
            }

            #search-container {
                border-right: 1px inset;
                overflow-x:hidden;
                overflow-y:auto;
            }

            .searchButton {
                width: 100%;
            }
            #events-results {
                max-height: calc(100vh - 150px);
                overflow-y: scroll;
            }

            #search-input-row {
                margin-left: 0px;
                max-height: calc(100vh - 10px);
                overflow-x:hidden;
                overflow-y:auto;
            }

        </style>
    </head>



    <div class="col-md-4" id="search-container" >
        <div class="row" id="search-input-row">
            <h3 class="text-center" style="margin-top: 0px;">Filter</h3>
            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <label  for="keyword-search-input" class="col-sm-3 control-label">Keyword</label>
                    <div class="col-sm-8">
                        <input type="text"
                        class="form-control"
                        id="keyword-search-input"
                        placeholder="Keyword">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Category</label>
                    <div class="col-sm-8">
                        <select
                        class="form-control"
                        id="category-search-input">
                            @for((id, name) <- categoryOptions) {
                                @if(name == "All Events") {
                                    <option value=@id default>
                                    @name
                                    </option>
                                }
                            }
                            @for((id, name) <- categoryOptions) {
                                @if(name != "All Events") {
                                <option value=@id>
                                @name
                                </option>
                                }
                            }
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">Date from</label>
                    <div class="col-sm-8">
                        <input type="date"
                        id="start-datepicker"
                        class="form-control"
                        format="%d-%m-%y">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Date to</label>
                    <div class="col-sm-8">
                        <input type="date"
                        id="end-datepicker"
                        class="form-control"
                        format="%d-%m-%y">
                    </div>
                </div>


                <div class="form-group">
                    <label for="minprice-search-input" class="col-sm-3 control-label">Price</label>
                            <div class="input-group col-md-7" style="padding-left: 15px">
                                <div class="input-group-addon">$</div>
                                <input type="number"
                                       class="form-control"
                                       id="minprice-search-input"
                                placeholder="Min">
                                <div class="input-group-addon">$</div>
                                <input type="number"
                                       class="form-control"
                                       id="maxprice-search-input"
                                placeholder="Max">
                            </div>
                </div>

            </form>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Sort by</label>
                    <div class="col-sm-8">
                        <select
                        class="form-control"
                        id="sort-search-input">
                            <option value="date" selected="selected">Date</option>
                            <option value="popularity">Popularity</option>
                            <option value="distance">Distance</option>
                        </select>
                    </div>
                </div>

            </form>
            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Destination</label>
                    <div class="col-sm-8">
                        <input type="text"
                        class="form-control"
                        id="destination-search-input"
                        placeholder="Select destination on map"
                        disabled>
                    </div>
                </div>

            </form>
            <div id="map"></div>
            <fieldset>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button class='searchButton btn btn-primary' onclick="searchEvents(1)">Search</button>
                    </div>
                </div>

            </fieldset>

        </div>
    </div>

    <div class="text-center" id="no-results"></div>
    <div class="col-md-8" id="events-results"></div>

    <div id="loader" style="display: none;"></div>
    <div class="text-center" id="eventsPage">
    </div>

    <script src="@routes.Assets.at("js/events/eventSearchMap.js")"></script>
    <script src="@routes.Assets.at("js/events/eventSearch.js")"></script>
    <script src="@routes.Assets.at("js/events/indexEvents.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9Z1g5p2rQtS0nHgDudzCCXVl2HJl3NPI&callback=initMap&libraries=drawing"
    async defer></script>


}

