@import views.html.helper.form
@import views.html.helper.select
@(visitForm : Form[formdata.VisitFormData], trip : Trip, destinations : Map[String, Boolean], visits : List[Visit] , today: String)

@import bootstrap3._
@import helper._

@main("Add Destinations") {
    @form(action = helper.CSRF(routes.TripController.addvisit(trip.tripid))) {


        <fieldset>

                <!-- Header -->
            <legend>Add Destinations to Trip @trip.tripName</legend>
            <div class="col-sm">
                @for(visit <- visits) {
                    <h3>Destination: @visit.visitName</h3>
                }
            </div>

            </div>

            @views.html.bootstrap3.select(visitForm("destName"),
                label= "Destination",
                optionMap= destinations,
                isMultiple= false,
                help= "Select a destination")

            @datepicker(visitForm("arrival"),
                label = "Arrival Date",
                placeholder = "01/01/2000",
                help = "Please select your Arrival Date")
            @datepicker(visitForm("departure"),
                label = "Departure Date",
                placeholder = "01/01/2000",
                help = "Please select your Departure Date.")

        </fieldset>



        <div class="form-group actions">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-sm-offset-2 col-sm-10">
                <input id="submit" type="submit" value="Add Destination" class="btn btn-primary"/>
                <a href= "@routes.TripController.cancelTrip(trip.tripid)" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
                @if(trip.visits.size < 2){
                    <h4>You need to have at least two destinations in your trip</h4>
                } else {
                    <a href="@routes.TripController.displaytrip(trip.tripid,"")"id="viewTrip" name="view" class="btn btn-default">View Trip</a>
                }
            </div>
        </div>

    }
}