@(tripForm : Form[formdata.TripFormData], user : User)
@import helper._
@import views.html.bootstrap3._


@main("Trips") {
    @helper.form(action = helper.CSRF(routes.TripController.savetrip())) {
        <fieldset>
                <!-- Header -->
            <legend>Create Trip</legend>

                <!-- Name -->
            @text(tripForm("tripName"),
                label = "Trip Name",
                placeholder = "trip name",
                help = "Please enter the Trip Name. (required)")


        </fieldset>

        <div class="form-group actions">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-sm-offset-2 col-sm-10">
                <input id="submit" type="submit" value="Add Trip" class="btn btn-primary"/>
                <a href= "@routes.HomeController.showhome()" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
            </div>
        </div>
    }
}



