@(tripForm : Form[formdata.TripFormData], user : User)
@import helper._
@import views.html.bootstrap3._


@main("Trips") {
    @helper.form(action = helper.CSRF(routes.TripController.savetrip())){
        <fieldset>
            <!-- Header -->
            <legend>Trip</legend>

            <!-- Name -->
            @text(tripForm("tripName"),
                label = "Trip Name",
                placeholder = "trip name",
                help = "Please enter the Trip Name. (required)")




    </fieldset>

        <div class="form-group actions">
         <div class="col-sm-offset-2 col-sm-10">
             <input id="submit" type="submit" value="Submit" class="btn btn-primary"/>
          </div>
        </div>
    }
 }



