@(tripForm : Form[formdata.TripFormData], user : User)
@import helper._
@import views.html.bootstrap3._


@main(user, "Trips") {
    @helper.form(action = helper.CSRF(routes.TripController.savetrip()), 'id -> "submitCreateTrip") {
        <fieldset>
                <!-- Header -->
            <legend>Create Trip</legend>


            <!-- Name -->
            @text(tripForm("tripName"),
                label = "Trip Name",
                placeholder = "Trip Name",
                help = "Please enter the Trip Name. (required)")

        </fieldset>
        @users.tag.createSearchTags(user)
        <div class="form-group actions">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Create Trip" class="btn btn-primary"/>
                <a href= "@routes.HomeController.showhome()" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
            </div>
        </div>
    }
    <script>
        $('form input').keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>
    <script src="@routes.Assets.at("js/destination/indexDestination.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/trips/AddTripDestinations.js")" type="text/javascript"></script>
}



