
@(trip : Trip, message : String, user : User)

<!-- Page name (for unit tests): displayTripTable.scala.html -->
@main(user, "Trip destinations") {
    <h1>Trip destinations</h1>
    <body>
        @helper.CSRF.formField
        @if(message != null || message != "") {
            <p class="notValidText">@message</p>
        }
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Tags</th>
                                <th scope="col">Type</th>
                                <th scope="col">Country</th>
                                <th scope="col">Arrival</th>
                                <th scope="col">Departure</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(visit <- trip.getOrderedVisits){
                            <tr id=@visit.getVisitid()>
                                <th scope ="row">@visit.getDestination().getDestName()</th>
                                <td>
                                    <ul style="overflow: auto; height: 100px; padding-left: 2px">
                                    @for(tag <- visit.getDestination().getTags()) {
                                        <p>@tag</p>
                                    }
                                    </ul>
                                </td>
                                <td>@visit.getDestination().getDestType()</td>
                                <td>@visit.getDestination().getCountry()
                                    @if(!visit.getDestination().getIsCountryValid()) {
                                        <span style="color:red">invalid country</span>
                                    }
                                </td>
                                <td>@visit.getArrival()</td>
                                <td>@visit.getDeparture()</td>
                                <td><a href=@routes.TripController.editvisit(visit.visitid) class="btn btn-primary">Edit</a></td>
                                <td><button class="btn btn-danger" onclick="sendDeleteVisitRequest(
                                    '@routes.TripController.deletevisit(visit.getVisitid())',
                                    '@routes.TripController.displaytrip(trip.tripid)',
                                    '@routes.TripController.displaytrip(trip.tripid)',
                                    '@routes.TripController.displaytrip(trip.tripid)',
                                    '@routes.TripController.displaytrip(trip.tripid)')">Delete</button></td>
                            </tr>
                            <br>
                            }
                        </tbody>
                    </table>
                    <a class = "btn btn-success" href="@routes.TripController.displaytrip(trip.getTripid())">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        Add destinations
                    </a>
                    <a href= "@routes.HomeController.showhome()" id="cancel" name="return" class="btn btn-default">Return to home</a>
                </div>
            </div>
        </div>
        <script type="text/javascript">
                $('tbody').sortable({
                    axis: 'y',
                    update: function (event, ui) {
                        var token =  $('input[name="csrfToken"]').attr('value')
                        $.ajaxSetup({
                            beforeSend: function(xhr) {
                                xhr.setRequestHeader('Csrf-Token', token);
                            }
                        });
                        var data = jQuery('#myTable tr').map(function(){
                            return jQuery (this).attr("id");
                        }).get();
                        var url = '/users/trips/edit/' + @trip.tripid;
                        // POST to server using $.post or $.ajax
                        $.ajax({
                            data : JSON.stringify(data),
                            contentType : 'application/json',
                            type: 'PUT',
                            url: url,
                            success: function(data, textStatus, xhr){
                                if(xhr.status == 200) {

                                }
                                else{
                                }
                            },
                            error: function(xhr, textStatus, errorThrown){
                                $('tbody').sortable('cancel');
                                alert("You cannot visit the same destination twice in a row!");
                            }
                        });
                    }
                });
        </script>
    </body>
}