@(trip : Trip, visits : List[Visit], user : User)
@import helper._
<!-- Page name (for unit tests): displayTrip.scala.html -->
@main(user, "Trip View") {
        @for(visit <- visits) {
            <div class="modal" id=@visit.getVisitName>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">@visit.getVisitName</h2>
                        </div>
                        <div class="modal-body">
                            <p>Visit name: @visit.getVisitName | Arrival time: @visit.getArrival | Departure time: @visit.getDeparture</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="container">
            <div class="carousel slide" id="myslider" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myslider" data-slide-to="0" class="active"></li>
                    @for(i <- 1 to visits.length -1) {
                        <li data-target="#myslider" data-slide-to="@i"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @for(visit <- visits) {
                        @if(visit == visits.get(0)){
                    <div class="item active">
                        } else{
                    <div class="item">
                        }
                        <a href="#" data-toggle="modal" data-target=#@visit.getVisitName>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Colosseum_in_Rome%2C_Italy_-_April_2007.jpg">
                        </a>
                        <div class="carousel-caption">
                            <h2>Destination: @visit.getVisitName</h2>
                            <h3>Arrival: @visit.getArrival</h3>
                            <h3>Departure: @visit.getDeparture</h3>
                        </div>
                    </div>
                    }
                </div>
                <a class ="left carousel-control" href="#myslider" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class ="right carousel-control" href="#myslider" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
}