@import accessors.UserAccessor

@(user : User, title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>TravelEA</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">

            <!--  Load site-specific customizations after bootstrap. -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.Assets.at("js/jquery-3.3.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/jquery-ui.min.js")" type="text/javascript"></script>

    </head>
    <body>

    @content


        <nav class="navbar navbar-custom navbar-fixed-top" id="topnavbar" >

            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@routes.HomeController.showhome()">TravelEA</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="@routes.HomeController.mainMapPage()">Map</a></li>
                    <li><a href="@routes.HomeController.showhome()">Home</a></li>
                    @if(user != null) {
                        @if(user.isUndoRedoError()) {
                            <script>
                                alert("Undo/Redo Failed");
                            </script>
                            @user.setUndoRedoError(false);
                            @UserAccessor.update(user);
                        }
                        <li><a href="@routes.TreasureHuntController.indexTreasureHunt()" >Treasure hunts</a></li>
                        <li><a href="@routes.AlbumController.indexAlbum()">My Media</a></li>
                        @if(user.userIsAdmin) {
                            <li><a href="@routes.AdminController.indexAdmin()">Admin</a></li>
                        }
                    </ul>
                        <ul class="nav navbar-nav navbar-right"><!-- Use a button to open the snackbar -->
                            <div id="snackbar"></div>
                            <li><a id="undoButton" class="@getUndoRedoButtonClass(true)"><span class="glyphicon glyphicon-repeat" style="transform: scale(-1,1)"></span> Undo</a></li>
                            <li><a id="redoButton" class="@getUndoRedoButtonClass(false)"><span class="glyphicon glyphicon-repeat"></span> Redo</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span> 
                                    <strong>@user.getFName()</strong>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p class="text-center">
                                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                                    </p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <p class="text-left"><strong>@user.getFName() @user.getLName()</strong></p>
                                                    <p class="text-left small">@user.getEmail()</p>
                                                    <p class="text-left">
                                                        <a href="@routes.HomeController.showhome()" class="btn btn-primary btn-block btn-sm">
                                                           View profile</a>
                                                        <a href="@routes.ProfileController.updateProfile()" class="btn btn-primary btn-block btn-sm">
                                                            Update profile</a>

                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="@routes.LoginController.logoutrequest()" class="btn btn-danger btn-block">Logout</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </li>



                        </ul>
                    }
            </div>
        </nav>


        @*<script src="http://code.jquery.com/jquery.min.js"></script>*@
        @*<script src="http://maxcdn.bootstrapcdn.com/bootstiv /3.3.2/js/bootstrap.min.js"></script>*@
        @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@
        @*<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>*@
        @*<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">*@



        <!-- Enable tooltips. Used primarily to validate that JQuery + Bootstrap JS are loaded. Remove this script if you don't want tooltips. -->
        <script type="text/javascript">
                jQuery(function ($) {
                    $("[rel='tooltip']").tooltip()
                });
        </script>

        <script src="@routes.Assets.at("js/main.js")" type="text/javascript"></script>

        <script>
                $(document).ready(function(){
                    $('[data-toggle="tooltip"]').tooltip();
                    $(document.body).css('padding-top', $('#topnavbar').height() + 10);
                    $(window).resize(function(){
                        $(document.body).css('padding-top', $('#topnavbar').height() + 10);
                    });
                });
        </script>
    </body>
</html>

    <!-- 'return' the classname of the undo/redo buttons. True = undo button, false = redo button -->
    @getUndoRedoButtonClass(undo : Boolean) = @{
        if (undo && user.getCommandManager.isUndoStackEmpty) {
            "disabled"
        } else if (!undo && user.getCommandManager.isRedoStackEmpty) {
            "disabled"
        } else {
            ""
        }
    }
